.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ccc;
  height: 8rem;

  &__logo {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #5D69BE, #C89FEB);;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    font-size: 4rem;
    font-weight: 700;
    animation: changeColor 4s infinite;

    @keyframes changeColor {
      0% {
        background-image: linear-gradient(to right bottom, #5D69BE, #C89FEB);;
      }

      25% {
        background-image: linear-gradient(to right bottom, #f77f00, #d62828);;
      }
      
      50% {
        background-image: linear-gradient(to right bottom, #970D1A, #4E204D);;
      }
      
      75% {
        background-image: linear-gradient(to right bottom, #576182, #1FC5A8);;
      }
      
      100% {
        background-image: linear-gradient(to right bottom, #5D69BE, #C89FEB);;
      }
    }

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__searchBar {
    width: 30%;

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(tab-port) {
      width: 45%;
    }
  }

  &__avatar {
    position: relative;
    width: 6rem;
    height: 6rem;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(6rem + 10px);
    height: calc(6rem + 10px);
    background-image: linear-gradient(45deg,
    #f09433 0%, #e6683c 25%,
    #dc2743 50%, #6902be 75%,
    #bc1888 100%);
    border-radius: 50%;
    z-index: -1;
  }

    img {
      vertical-align: middle;
      border-radius: 50%;
      width: 100%;
    }
  }

}